// =======================================================================
//   Base Type
// =======================================================================

html {
	font : normal 100%/1.5 sans-serif;
}

body {
	padding                  : 0;
	-webkit-text-size-adjust : 100%;
	-webkit-font-smoothing   : antialiased;
	background               : #FFF;
	color                    : $main;
}
