// Variables
// ---------
// Color

// Table
$table-header-font-weight : 700;
$table-cell-padding : 5px 10px;

// Text
$main : #464646;
$red : #FF5F28;
$heading-font-weight : 700;
$heading-line-height : 1.2;
$heading-margin : 0 0 1em;
$paragraph-margin : 0 0 2em;
$list-margin : 1em 0;
$h1 : 32px;
$h2 : 24px;
$h3 : 20px;
$h4 : 16px;
$h5 : 14px;
$link-color : #009EB5;
$link-color-hover : #00839A;
$bold-font-weight : 700;
$space-1 : 1em;
$space-2 : 2em;
$space-3 : 3em;
