input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="password"],
textarea {
	line-height        : 1;
	background         : white;
	border             : 1px solid #E1E1E1;
	border-radius      : 2px;
	outline            : 0;
	vertical-align     : middle;
	-webkit-appearance : none;
	padding            : 6px 20px;
	color              : $main;
	max-width          : 100%;
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	box-sizing         : border-box;
	transition         : border .3s ease;
	@include placeholder() {
		color   : #969696;
		opacity : 1;
	}
	&.is-error {
		border-color : $red;
	}
}

textarea {
	height   : auto;
	overflow : auto;
	padding  : 20px;
}

.b-form {
	&__row {
		margin-top : 20px;
		font-size  : 16px;
		&:first-child {
			margin-top : 0;
		}
		label {
			display       : block;
			cursor        : pointer;
			color         : $main;
			margin-bottom : 5px;
		}
	}
	legend {
		color       : $main;
		font-size   : 18px;
		font-weight : 700;
		padding-top : 20px;
		display     : block;
	}
	fieldset {
		margin  : 0;
		padding : 0;
	}
}