// Images
img {
	max-width      : 100%;
	height         : auto;
	vertical-align : top;
	border         : 0;
}

svg {
	max-height : 100%
}

select:not([multiple]) {
	vertical-align : middle;
}

// Table
table {
	border-collapse : separate;
	border-spacing  : 0;
	max-width       : 100%;
	width           : 100%;
}

th {
	text-align  : left;
	font-weight : $table-header-font-weight;
}

th,
td {
	padding     : $table-cell-padding;
	line-height : inherit;
}

th {
	vertical-align : bottom
}

td {
	vertical-align : top
}

// Text
a {
	outline         : 0;
	text-decoration : underline;
	color           : $link-color;
	&:hover {
		color           : $link-color-hover;
		text-decoration : none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight : $heading-font-weight;
	line-height : $heading-line-height;
	margin      : $heading-margin;
}

p {
	margin : $paragraph-margin;
	&:last-child {
		margin-bottom : 0;
	}
}

dl,
ol,
ul {
	margin : $list-margin;
}

ul {
	margin-left  : 0;
	padding-left : 0;
	list-style   : none;
	ul {
		margin-left : 25px;
	}
	li {
		display      : block;
		padding-left : 23px;
		position     : relative;
		margin-top   : 5px;
		&:first-child {
			margin-top : 0;
		}
		&:after {
			content          : '';
			position         : absolute;
			top              : 50%;
			left             : 0;
			border-radius    : 50%;
			margin-top       : -($list-size / 2);
			width            : $list-size;
			height           : $list-size;
			background-color : $list-color;
		}
	}
}

ol {
	list-style : decimal;
}

h1 {
	font-size : $h1;
}

h2 {
	font-size : $h2;
}

h3 {
	font-size : $h3;
}

h4 {
	font-size : $h4;
}

h5 {
	font-size : $h5;
}

hr {
	margin     : 1em 0;
	display    : block;
	height     : 1px;
	background : #DBDBDB;
	border     : 0;
}

.text-small {
	font-size : $text-small;
}

::-moz-focus-inner {
	border  : 0;
	padding : 0;
}

.left-align {
	text-align : left
}

.center {
	text-align : center
}

.right-align {
	text-align : right
}

.justify {
	text-align : justify
}

.nowrap {
	white-space : nowrap
}

.break-word {
	word-wrap : break-word
}

.list-reset {
	list-style   : none;
	padding-left : 0;
}

.overflow-hidden {
	overflow : hidden
}

.overflow-scroll {
	overflow : scroll
}

.overflow-auto {
	overflow : auto
}

.clearfix {
	@include clearfix;
}

// Clear for old browser <div class="clr"></div>
.clr {
	clear : both;
}

.float-left {
	float : left
}

.float-right {
	float : right
}

.border-box {
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	box-sizing         : border-box;
}

.hidden-box {
	display    : none;
	visibility : hidden;
}

.mt {
	margin-top : $space-1;
}

.mb {
	margin-bottom : $space-1;
}

.mt2 {
	margin-top : $space-2;
}

.mb2 {
	margin-bottom : $space-2;
}

.mt3 {
	margin-top : $space-3;
}

.mb3 {
	margin-bottom : $space-3;
}

mark {
	background-color : rgba(255, 255, 0, .29);
	padding          : 1px 5px;
	display          : inline-block;
}

.b-back-link {
	text-decoration : none;
	span {
		text-decoration : underline;
	}
	&:hover {
		text-decoration : none;
		span {
			text-decoration : none;
		}
	}
}

.b-hero-block {
	color         : $body-color;
	background    : $body-background;
	padding       : $body-padding;
	box-shadow    : $body-shadow;
	border-radius : $body-radius;
}